script.
	$(document).ready(function(){
		$("#totamt, #buyamt, #odrnum").numeric();
	});
	function getOptdtl(optnam, optdtl){
		var dialog = $.defaultDialog("div_dialog_option", "/pos/setup/dialog/product03.do",{'optnam':optnam, 'optdtl':optdtl});
		dialog.dialog( "option", { title:"옵션 관리",height:160, width :400 } );
	}
	function chkForm(obj){

	}
	function goEdit(){

		$.ajax({
			url: "/pos/setup/product_update_proc",
			type: "POST",
			timeout: 6000,
			data: $("[name=form_dialog]").serialize(),
			success: function(data) {
				if(data.result){
					goCancel();
					var data = new Object();
					data.CTGSEQ = '1';
					getDataList02( data );
				}else{
					alert(data.msg);
				}
			}
		});
	}
	function goCancel() {
		$("#div_dialog").dialog('close').remove();
	}
	var optnum = "#{selectedOptionNumber}"*1 + 1;
	$("#addOption").click(function() {
		var select = $("#optcatselect").clone();
		
		var row = "<tr>";
		row += "<th> 옵션 </th>";
		row += "<td id='opt" + optnum + "'> </td>";
		row += "<td colspan='2'> <button type='button' id='deleteOption' onclick='deleterow(this);'> 삭제 </td>";
		row += "</tr>";
		$("#prdimgrow").before(row);
		var td = "#opt"+(optnum++);
		$(td).append(select);
	});
	var dtlimgnum = "#{dtlimgnum}"*1 + 1;
	$("#addImage").click(function() {
		var row = "<tr>";
		row += "<th> 상세이미지 <br /> (정사각형) </th>";
		row += "<td colspan='3'>";
		row += "<img src='/images/empty.png' width='50px' />";
		row += "<input type='hidden' name='PRDIMGNAME'>";
		row += "<input type='hidden' name='DTLIMGORD' value='"+ (dtlimgnum++) +"' />";
		row += "<input type='file' onchange='imgUpload(this)'/>";
		row += "<input type='button' onclick='deleterow(this)' value='삭제'/>";
		row += "</td></tr>";

		$("#prdexprow").before(row);
	});

	function deleterow(obj) {
		var row = $(obj).parent().parent();
		row.remove();
	};

	function deletedtlrow(obj) {
		var row = $(obj).parent().parent().parent();
		row.remove();
	};

	function imgUpload(obj) {
		if($(obj).val() != "") {
			var formData = new FormData();
			formData.append('page', 'Product');
			formData.append('image', $(obj)[0].files[0]);
			$.ajax({
				url: '/imageUpload',
				data: formData,
				type: 'POST',
				cache: false,
				timeout: 6000,
				contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
				processData: false, // NEEDED, DON'T OMIT THIS
				success: function(data) {
					if(data.result){
						$(obj).parent().children().eq(0).attr('src', '/images/'+data.file);	
						$(obj).parent().children().eq(1).attr('value', data.file);
					}else{
						alert(data.msg);
					}
				}
			});
		}
	}
	
form(name="form_dialog")
	table(width ="100%" class="table_default")
		colgroup
			col(width ="16%")
			col(width ="34%")
			col(width ="16%")
			col(width ="34%")
		tbody
			tr(style="display:none")
				th 저장구분
				td(colspan="3")
					input(type="text" id="savgbn" name="SAVGBN" value=SAVGBN)
			tr(style="display:none")
				th 상품번호
				td(colspan="3")
					input(type="text" id="prdseq" name="PRDSEQ" value=PRDSEQ)
			tr(style="display:none")
				th 카테고리번호
				td(colspan="3")
					input(type="text" id="ctgseq" name="CTGSEQ" value=CTGSEQ)
			tr
				th 상품명
				td(colspan="3")
					input(type="text" id="prdnam" name="PRDNAM" value=PRDNAM class="view_textfiled3" maxlength ="10")
			tr
				th 판매가
				td
					input(type="text" id="totamt" name="TOTAMT" value=TOTAMT class="view_textfiled2" maxlength ="10")
				th 매입가
				td
					input(type="text" id="buyamt" name="BUYAMT" value=BUTAMT class="view_textfiled2" maxlength ="10")
			if selectedOptions.length == 0
				tr
					th 옵션
					td(id="opt1")
						select#optcatselect(name="OPTCAT")
							each optioncategory in optioncategories
								option(value=optioncategory.OPTCATSEQ) #{optioncategory.CATNAM}
					td
						button#addOption(type="button") 추가
					td
						button#insertOption(type="button") 옵션 등록
			else	
				each selectedOption, index in selectedOptions
					tr
						th 옵션
						td(id="opt"+(index+1))
							select#optcatselect(name="OPTCAT")
								each optioncategory in optioncategories
									option(value=optioncategory.OPTCATSEQ selected=selectedOption.SEQ==optioncategory.OPTCATSEQ) #{optioncategory.CATNAM}
						if index==0
							td
								button#addOption(type="button") 추가
							td  
								button#insertOption(type="button") 옵션 등록
						else
							td(colspan="2")
								button#deleteOption(onclick="deleterow(this)") 삭제
			tr#prdimgrow
				th 
					|메인 이미지
					br
					|(정사각형)
				td(colspan="3")
					img(src="/images/"+PRMIMG width="50px")
					| 
					input(type="hidden" name="PRMIMGNAME" value=PRMIMG)
					input(type="file" onchange="imgUpload(this)")
					input(type="button" id="btn_myFile1" value="삭제")
			each IMG, index in DTLIMG
				tr
					th 
						|상세이미지
						br
						|(정사각형)
					td(colspan="3")
						img(src="/images/"+IMG width="50px")
						| 
						input(type="hidden" name="PRDIMGNAME" value=IMG)
						input(type="hidden" name="DTLIMGORD" value=index+1)
						input(type="file" onchange="imgUpload(this)")
						if index==0
							input(type="button" id="addImage" value="추가")
							| 
							input(type="button" onclick="deleteImg(this)" value="삭제")
						else
							input(type="button" onclick="deleterow(this)" value="삭제")
			tr#prdexprow
				th 설명
				td(colspan="3")
					textarea(rows="3" cols="60" id="prdexp" name="PRDEXP" maxlength ="50" class="view_textfiled") #{PRDEXP}
			tr 
				th 원산지
				td
					select(id="ctrcod" name="CTRCOD" style="width :150px")
						option(value="") 없음
							option(value="kr") 한국
							option(value="ch") 중국
							option(value="jp") 일본
				th 정렬순서
				td
					input(type="text" id="odrnum" name="ORDNUM" value=ORDNUM class="view_textfiled1" maxlength ="5")
			tr
				th 판매여부
				td
					|판매
					input(type="radio" name="SALFLG" value="Y" checked=SALFLG=='Y')
					|미판매
					input(type="radio" name="SALFLG" value="N" checked=SALFLG=='N')
				th 주방출력
				td
					|출력
					input(type="radio" name="KITFLG" value="Y" checked=KITFLG=='Y')
					|미출력
					input(type="radio" name="KITFLG" value="N" checked=KITFLG=='N')
			tr
				td(colspan="4" style="background:white; padding:20px; text-align:center;")
					img(src="/views/admin/btn_save.gif" onclick="goEdit();" style="cursor:pointer;")
					| 
					img(src="/views/admin/btn_cancel.gif" onclick="goCancel();" style="cursor:pointer;")