extends store_iframe_layout

block append head
	

block content
	script.
		$("#tab_name").html("주변기기");
		
		$(document).ready(function(){
			$("#manipa_1, #manipa_2, #manipa_3, #manipa_4, #manprt").numeric();
			$("#subipa1_1, #subipa1_2, #subipa1_3, #subipa1_4, #subprt1").numeric();
			$("#subipa2_1, #subipa2_2, #subipa2_3, #subipa2_4, #subprt2").numeric();
			$("#almtim").numeric();

			var devicenum = "#{deviceNumber}";
			var devices = !{JSON.stringify(devices)};
			var device = eval(devices);
			for(var i=0; i<devicenum; i++){
				var row = "<tr>";
				row += "<th>프린터" + (i+1) + "</th>";
				row += "<td>";
				row += "<table class='table_default'>";
				row += "<colgroup><col width='25%'/><col width='48%'/><col width='12%'/><col width='15%'/></colgroup>";
				row += "<tbody>";
				row += "<th>영수증 출력</th>";
				row += "<td colspan='3'>";
				if(device[i].RCPFLG == "Y"){
					row += "<input type='radio' name='RCPFLG' value='Y' checked>사용";
					row += "<input type='radio' name='RCPFLG' value='N'>미사용";
				} else {
					row += "<input type='radio' name='RCPFLG' value='Y'>사용";
					row += "<input type='radio' name='RCPFLG' value='N' checked>미사용";
				}
				row += "</td>";
				row += "</tr>";
				row += "<tr>";
				row += "<th style='border-top:1px solid white;'>주방전표 출력</th>"
				row += "<td style='border-top:1px solid white;' colspan='3'>"
				if(device[i].KITFLG == "Y"){
					row += "<input type='radio' name='KITFLG' value='Y' checked>사용";
					row += "<input type='radio' name='KITFLG' value='N'>미사용</td></tr>";
				} else {
					row += "<input type='radio' name='KITFLG' value='Y'>사용";
					row += "<input type='radio' name='KITFLG' value='N' checked>미사용</td></tr>"; 
				}
				row += "<tr><th style='border-top:1px solid white'>IP</th>";
				row += "<td style='border-top:1px solid white'>";
				row += "<input type='text' id='manipa_1' name='MANIPA_1' maxlength='15' class='align_center' value='"+ device[i].IPADDR +"'/></td>";
				row += "<th style='border-top:1px solid white'>PORT</th>";
				row += "<td style='border-top:1px solid white'>";
				row += "<input type='text' id='manprt' name='MANPRT' maxlength='5' class='view_textfiled1 align_right' value='"+ device[i].PORT +"'/></td></tr>";
				row += "</tbody>";
				$("#ncallrow").before(row);
			}
			
		});
			
		function chkForm(obj){
			//- if(obj==document.getElementById("manipa_1")){
			//-     if( $("#manipa_1").val()=="" || $("#manipa_1").val()*1>255 ){
			//-         alert("메인프린트 아이피를 0~255 사이의 수로 입력하여 주세요."); 
			//-         $("#manipa_1").focus();
			//-         return false;	
			//-     } else if( $("#manipa_2").val()=="" || $("#manipa_2").val()*1>255 ){
			//-         alert("메인프린트 아이피를 0~255 사이의 수로 입력하여 주세요."); 
			//-         $("#manipa_2").focus();
			//-         return false;
			//-     } else if( $("#manipa_3").val()=="" || $("#manipa_3").val()*1>255 ){
			//-         alert("메인프린트 아이피를 0~255 사이의 수로 입력하여 주세요."); 
			//-         $("#manipa_3").focus();
			//-         return false;
			//-     } else if( $("#manipa_4").val()=="" || $("#manipa_4").val()*1>255 ){
			//-         alert("메인프린트 아이피를 0~255 사이의 수로 입력하여 주세요."); 
			//-         $("#manipa_4").focus();
			//-         return false;
			//-     }
			//-     return true;
			//- } else if(obj==document.getElementById("subipa1_1")){
			//-     if( $("#subipa1_1").val()=="" || $("#subipa1_1").val()*1>255 ){
			//-         alert("서브프린트1 아이피를 0~255 사이의 수로 입력하여 주세요."); 
			//-         $("#subipa1_1").focus();
			//-         return false;	
			//-     } else if( $("#subipa1_2").val()=="" || $("#subipa1_2").val()*1>255 ){
			//-         alert("서브프린트1 아이피를 0~255 사이의 수로 입력하여 주세요."); 
			//-         $("#subipa1_2").focus();
			//-         return false;
			//-     } else if( $("#subipa1_3").val()=="" || $("#subipa1_3").val()*1>255 ){
			//-         alert("서브프린트1 아이피를 0~255 사이의 수로 입력하여 주세요."); 
			//-         $("#subipa1_3").focus();
			//-         return false;
			//-     } else if( $("#subipa1_4").val()=="" || $("#subipa1_4").val()*1>255 ){
			//-         alert("서브프린트1 아이피를 0~255 사이의 수로 입력하여 주세요."); 
			//-         $("#subipa1_4").focus();
			//-         return false;
			//-     }
			//-     return true;
			//- }  else if(obj==document.getElementById("subipa2_1")){
			//-     if( $("#subipa2_1").val()=="" || $("#subipa2_1").val()*1>255 ){
			//-         alert("서브프린트2 아이피를 0~255 사이의 수로 입력하여 주세요."); 
			//-         $("#subipa2_1").focus();
			//-         return false;	
			//-     } else if( $("#subipa2_2").val()=="" || $("#subipa2_2").val()*1>255 ){
			//-         alert("서브프린트2 아이피를 0~255 사이의 수로 입력하여 주세요."); 
			//-         $("#subipa2_2").focus();
			//-         return false;
			//-     } else if( $("#subipa2_3").val()=="" || $("#subipa2_3").val()*1>255 ){
			//-         alert("서브프린트2 아이피를 0~255 사이의 수로 입력하여 주세요."); 
			//-         $("#subipa2_3").focus();
			//-         return false;
			//-     } else if( $("#subipa2_4").val()=="" || $("#subipa2_4").val()*1>255 ){
			//-         alert("서브프린트2 아이피를 0~255 사이의 수로 입력하여 주세요."); 
			//-         $("#subipa2_4").focus();
			//-         return false;
			//-     }
			//-     return true;
			//- } 
			//- return true;
		}
		
		function goEdit(){
			//- if(!chkForm($("#manipa_1")[0])) return false;
			//- if(!chkForm($("#manprt")[0])) return false;
			//- if(!chkForm($("#subipa1_1")[0])) return false;
			//- if(!chkForm($("#subprt1")[0])) return false;
			//- if(!chkForm($("#subipa2_1")[0])) return false;
			//- if(!chkForm($("#subprt2")[0])) return false;
			$.ajax({
				url: "/pos/setup/storeDevice_proc",
				data: $("[name=form_data01]").serialize(),
				success: function(data) {
					if(data.result){
						alert(data.msg);
						goCancel();
					}else{
						alert(data.msg);
					}
				}
			});
		} 
		
		function goCancel() {
			window.location.reload();
		}

		function addImage() {
			var row = "<tr>";
			row += "<td style='border-top:1px solid white'> 광고 </td>";
			row += "<td style='border-top:1px solid white'>";
			row += "<img src='/images/empty.png' width='50px'/>";
			row += "<input type='hidden' name='ADVFIL' />";
			row += "<input type='file' onchange='imgUpload(this)'/>";
			row += "</td>";
			row += "<td><input type='button' onclick='deleterow(this)' value='삭제'/></td>";
			row += "</tr>";
			$("#hiddenrow").before(row);
		}
		
		function deleterow(obj) {
			var row = $(obj).parent().parent();
			row.remove();
		};

		function imgUpload(obj) {
			if($(obj).val() != "") {
				var formData = new FormData();
				formData.append('page', 'Device');
				formData.append('image', $(obj)[0].files[0]);
				$.ajax({
					url: '/imageUpload',
					data: formData,
					type: 'POST',
					cache: false,
					timeout: 6000,
					contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
					processData: false, // NEEDED, DON'T OMIT THIS
					success: function(data) {
						if(data.result){
							$(obj).parent().children().eq(0).attr('src', '/images/'+data.file);	
							$(obj).parent().children().eq(1).attr('value', data.file);
						} else {
							alert(data.msg);
						}
					}
				});
			}
		}

	form(name="form_data01")
		table.table_default(style="width:720px")
			colgroup
				col(width="20%")
				col(width="80%")
			tbody
				tr#ncallrow
					th 딩동이
					td
						table.table_default
							colgroup
								col(width="23%")
								col(width="77%")
							tbody
								tr
									td 알림설정
									td
										input(type="radio" name="ALMGBN" value="0" checked=ALMGBN=="0")
										|주문+호출 
										input(type="radio" name="ALMGBN" value="1" checked=ALMGBN=="1")
										|호출 
										input(type="radio" name="ALMGBN" value="2" checked=ALMGBN=="2")
										|주문 
								tr
									td(style="border-top:1px solid white") 알림시간
									td(style="border-top:1px solid white")
										input(type="radio" name="ALMTIM" value="10" checked=ALMTIM=="10")
										|10초
										input(type="radio" name="ALMTIM" value="15" checked=ALMTIM=="15")
										|15초
										input(type="radio" name="ALMTIM" value="20" checked=ALMTIM=="20")
										|20초
										input(type="radio" name="ALMTIM" value="25" checked=ALMTIM=="25")
										|25초
										input(type="radio" name="ALMTIM" value="30" checked=ALMTIM=="30")
										|30초
								tr
									td(style="border-top:1px solid white") 광고사용
									td(style="border-top:1px solid white")
										input(type="radio" name="ALMADV" value="Y" checked=ALMADV=="Y")
										|사용
										input(type="radio" name="ALMADV" value="N" checked=ALMADV=="N")
										|미사용
								each ADVFILE, index in ADVFILES
									tr
										td(style="border-top:1px solid white") 광고
										td(style="border-top:1px solid white")
											img(src="/images/"+ADVFILE width="50px")
											input(type="hidden" name="ADVFIL" value=ADVFILE)
											input(type="file" onchange="imgUpload(this)")
										if index==0
											td
												input(type="button" onclick="addImage()" value="추가")
											td
												input#deleteImage(type="button" value="삭제")
										else
											td
												input(type="button" onclick="deleterow(this)" value="삭제")
								if ADVFILES.length==0
									tr
										td(style="border-top:1px solid white") 광고
										td(style="border-top:1px solid white")
											img(src="/images/empty.png" width="50px")
											input(type="hidden" name="ADVFIL")
											input(type="file" onchange="imgUpload(this)")
										td
											input(type="button" onclick="addImage()" value="추가")
										td
											input(type="button" value="삭제")
								tr#hiddenrow(style="display:none")
				tr
					td(colspan="2" style="background:white; padding:20px; text-align:center;")
						img(src="/views/admin/btn_save.gif" onclick="goEdit();" style="cursor:pointer;")
						| 
						img(src="/views/admin/btn_cancel.gif" onclic="goCancel();" style="cursor:pointer;")